@import '~/assets/Palette.scss';

.container{
    padding: 7px;
    width: 280px;
 
}

h2 {
    color: $pg-white;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    margin-bottom: 16px;
}

.selectedBox{
    display: flex;
}
.options{
    background-color: $pg-dark-blue;
    max-height: 40px;
    opacity: 1;
    overflow-y: scroll;
    width: 100%;
    color: $pg-white;
    transition: all 0.4s;
    border-radius: 5px;
    text-align: left;
}

// .options::-webkit-scrollbar{
//     width: 8px;
//     background-color: #0d141f;
//     border-radius: 0 3px 3px 0;
// }

// .options::-webkit-scrollbar-thumb{
//     background-color: #525861;
//     border-radius: 0 3px 3px 0;
// }

.option:hover{
    background-color: $pg-blue;
}

.selected, .options{
    cursor: pointer;
}

li{
    list-style: none;
}

.selected{
    color: $pg-white;
    text-align: left;
    position: relative;
    width: 280px;
}

img{
    width: 10px;
    height: 10px;
    margin: 16px 0;
    position: absolute;
    right: 6%;
    bottom: 0;
}

.rotate{
    transform: rotate(180deg)
}