@import '~/assets/Palette.scss';

.container{
    padding: 7px;
    // background-color: yellow;
    width: 280px;
 
}

h2 {
    color: $pg-white;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    margin-bottom: 16px;
}

.selectedBox{
    display: flex;
}
.options{
    background-color: $pg-dark-blue;
    // max-height: 0px;
    // opacity: 0;
    width: 100%;
    color: $pg-white;
    transition: all 0.4s;
    border-radius: 5px;
    overflow: hidden;
    text-align: left;
}

.options.active{
    max-height: 40px;
    opacity: 1;
    overflow-y: scroll;
}

.options::-webkit-scrollbar{
    width: 8px;
    background-color: #0d141f;
    border-radius: 0 3px 3px 0;
}

.options::-webkit-scrollbar-thumb{
    background-color: #525861;
    border-radius: 0 3px 3px 0;
}

.option:hover{
    background-color: $pg-blue;
}

.selected, .options{
    
    cursor: pointer;
}

li{
    list-style: none;
   
}

.selected{
    color: $pg-white;
    text-align: left;
    position: relative;
}

.selected::after{
    content: "";
    background: url("~/assets/img/arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;

    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 5px;
    transition: all 0.4s;
}

.options + .selected::after{
    transform: rotateX(180deg);
    top: -6px;
}