@import '~/assets/Palette.scss';

#adminMain {
  align-items: center;
  overflow-y: auto;
  position: absolute;
  margin-bottom: 64px; // Size of the NavBar
}

h1 {
  font-size: 64px;
  line-height: 64px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 32px 0;
}

.stats {
  margin: 16px 0;
  justify-content: space-evenly;
  width: 80%;
}

.oneStat {
  height: 50px;
  border-radius: 50px;
  background-color: $pg-dark-blue;
  padding: 15px;
}

.oneStat p {
  font-size: 16px;
  line-height: 16px;
}
