@import '~/assets/Palette.scss';

.content{
    background-color: $pg-grey;
}

.chatChamp{
    width: 944px;
    height: 100vh;
    background-color: $pg-dark-blue;
    position: relative;
}

.connected{
    width: 320px;
    height: 100vh;
    background-color: $pg-blue;
}

.chatfield{
    position: absolute;
    bottom: 5%;
    margin: 16px 166px;
}

.chatfield input {
    background-color: $pg-blue;
    width: 556px;
    height: 40px;
    border-radius: 10px;
    margin-right: 16px;
    color: $pg-white;
    padding: 7px;

}

.sendBtn, .settingBtn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $pg-white;
}
  
.imgIcone {
    width: 50px;
    height: 30px;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}

.received{
    width: 612px;
    height: 1080px;
    margin : 100px auto 100px auto;
    background-color: white;
    overflow-y: scroll;
}

ul {
    list-style: none;
}

.chatRoomName {
    position: absolute;
    width: 912px;
    height: 72px;
    left: 16px;
    top: 16px;
    background-color: $pg-blue;
    border-radius: 10px;
}

.search, .creatChatRoom{
    width: 320px;
    height: 88px;
    background-color: $pg-dark-blue;
}

.creatChatRoom
{
    position: absolute;
    bottom: 4%;
}
.search input {
    width: 288px;
    height: 40px;
    background-color: $pg-blue;
    border-radius: 10px;
}

#createChatRoomBtn{
    width: 280px;
    height: 32px;
    text-transform: none;
    font-size: 18px;
    background-color: $pg-white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 7px 32px;
}

.chatRoomName{
    display: flex;
}

.chanelImg{
    margin: auto 7px;
    width: 40px;
    height: 40px;
    border-radius: 150px;
}

.chatRoomName p{
    margin: auto 0px;
    font-size: 20px;
    color: $pg-white;
}

.newMsg{
    display: flex;
    margin: 16px 7px;
}

.newMsg img{
    width: 50px;
    height: 50px;
    border-radius: 150px;
}

.msgDiv{
    margin-left: 16px;
}

.msgContent{
    background-color: $pg-blue;
    border-radius: 10px 10px 10px 0;
    max-width: 500px;
    padding: 7px;
    color: $pg-white;
    margin-top: 8px;
    overflow-wrap: anywhere;
}

.settingBtn{
    position: absolute;
    right: 0;
    top: 16;
    margin: 16px 7px;
}