@import '~/assets/Palette.scss';

.content{
    background-color: $pg-grey;
    // overflow-y: scroll;
}

.chatChamp{
    display: flex;
    flex-direction: column;
    width: 1087px;
    height: 100vh;
    background-color: $pg-dark-blue;
    position: relative;
    padding: 16px;
    align-items: center;
}

.connected{
    width: 320px;
    height: 100vh;
    background-color: $pg-blue;
}

.chatfield{
    display: flex;
    width: 95%;
    height: 40px;
    margin: 16px 0;
}

.chatfield input {
    background-color: $pg-blue;
    width: 556px;
    height: 40px;
    border-radius: 10px;
    margin-right: 16px;
    color: $pg-white;
    padding: 7px;
}

.sendBtn, .settingBtn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $pg-white;
}
  
.imgIcone {
    width: 50px;
    height: 30px;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}

.received{
    width: 100%;
    height: 100%;
    background-color: $pg-dark-blue;
    overflow-y: auto;
}

.chatMain{
    display: flex;
    flex-direction: column;
    width: 612px;
    height: 90%;
    margin-bottom: 16px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style: none;
}

.listChannel{
    overflow-y: auto;
    height: 1099px;
}

.chatRoomName {
    width: 1058px;
    height: 72px;
    left: 16px;
    top: 16px;
    background-color: $pg-blue;
    border-radius: 10px;
    margin-bottom: 16px;
    padding: 16px;
}

.search, .creatChatRoom{
    width: 320px;
    height: 88px;
    background-color: $pg-dark-blue;
}

.creatChatRoom
{
    position: absolute;
    bottom: 4%;
}

#createChatRoomBtn{
    width: 280px;
    height: 32px;
    text-transform: none;
    font-size: 18px;
    background-color: $pg-white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 7px 32px;
}

.BtnTxt{
    color:$pg-dark-blue !important;
}

.chatRoomName{
    display: flex;
    justify-content: space-between;
}

.chanelImg{
    width: 40px;
    height: 40px;
    margin-right: 16px;
    border-radius: 150px;
}

.chatRoomName p{
    margin: auto 0px;
    font-size: 20px;
    color: $pg-white;
}

.newMsg{
    display: flex;
    margin: 16px 7px;
}

.msgAvatar{
    width: 50px;
    height: 50px;
    border-radius: 150px;
}

.msgDiv{
    margin-left: 16px;
}

.msgContent{
    background-color: $pg-blue;
    border-radius: 10px 10px 10px 0;
    max-width: 500px;
    padding: 7px;
    color: $pg-white;
    margin-top: 8px;
    overflow-wrap: anywhere;
}

h1{
    font-size: 35px;
    margin: 16px auto;
    color: $pg-white;
    text-align: center;
    font-weight: normal;
}

.DoneBtn, .BlockBtn{
    width: 256px;
    height: 32px;
    margin: 8px auto;
    text-transform: none;
    font-size: 18px;
    background-color: $pg-green !important;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 7px 32px;
    color: $pg-white;
}

.BlockBtn{
    background-color: $pg-red !important;
}

.SettingInput{
    width: 256px !important;
    max-height: 32px !important;
}

.visibility{
    margin: 7px auto;
    width: 200px;
    color: $pg-white;
}

.visibility input{
    margin: 0 0 7px 16px;
}

// v-select label{
//     color: $pg-white !important; 
// }

.addPassword{
    color: $pg-white;
    margin: 7px;
}

#settingModal{
    margin: 40px 0;
}

.control {
    width: 200px;
    position: absolute;
    top: 10%;
    right: 2%;
}

.avatar {
    width: 100px;
    height: 100px;
    margin: 0;
}

// .checkBoxeModerator, .checkBoxePassword{
//     width: 336px;
//     padding-left: 28px;
//     text-align: left;
// }

