@import '~/assets/Palette.scss';

#profileMain {
  display: flex;
  flex-direction: row;
}

// Left side

#profileLeft {
  display: flex;
  align-items: center;
  flex-direction: column;
}

div.pp {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid $pg-dark-blue;
  width: 192px;
  height: 192px;
  border-radius: 50%;
  margin-bottom: 32px;
  text-align: center;
}

p {
  color: white;
  font-size: 24px;
  line-height: 24px;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}

div.modBtnContainer {
  justify-content: space-evenly;
  margin-bottom: 32px;
}

.modAddFriend { background: $pg-green !important; }
.modBan { background: $pg-red !important; }
.modPromote { background: $pg-dark-yellow !important; transform: rotate(45deg);}

div.modBtnContainer {
  width: 256px;
}

// Right side

p.bigUsername {
  font-size: 64px;
  line-height: 64px;
  margin-left: 32px;
}

div.primaryContent {
  width: 664px;
  height: 64px;
  margin: 32px;
}

div.primaryContent {
  /* Dark Blue */
  border: 3px solid $pg-dark-blue;
  box-sizing: border-box;
  /* Card */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

div.primaryContentUp {
  justify-content: space-evenly;
  align-items: center;
}

div.primaryContent div p {
  margin-left: 16px;
}

div.primaryContent div {
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
  display: flex;
  align-items: center;
}

.BigIcon {
  width: 32px;
  height: 32px;
}

div.bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

div.bullet.win {
  background-color: green;
}

div.bullet.lose {
  background-color: crimson;
}

div.bullet.ratio {
  background-color: $pg-white;
}
