@font-face {
  font-family: "Josefin Sans";
  src: url(~/assets/fonts/JosefinSans.ttf);
}

@import '~/assets/Palette.scss';

html {
  overflow: auto !important; // Override vuetify scroll-bar
}

* {
  font-family: "Josefin Sans";
}

.flexHVcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  margin: 0;
  padding: 0;
  display:block;
  position: absolute;
  top: 0px;
} // Make canvas fullscreen and responsive

.useWholePage {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.flexAlignRow {
  display: flex;
  flex-direction: row;
}

.flexAlignCol {
  display: flex;
  flex-direction: column;
}

.playerRed {
  background-color: $pc-red;
}
.playerGreen {
  background-color: $pc-green;

}
.playerBlue {
  background-color: $pc-blue;

}
.playerYellow {
  background-color: $pc-yellow;

}
.playerPurple {
  background-color: $pc-purple;

}
.playerPink {
  background-color: $pc-pink;

}
