// UI palette
$pg-white: #DCE1E5;
$pg-grey: #1B2636;
$pg-blue: #003566;
$pg-dark-blue: #001D3D;
$pg-yellow: #FFD60A;
$pg-dark-yellow: #FFC300;
$pg-red: #B30438;
$pg-green: #219653;

// Players palette
$pc-red: #FA163F;
$pc-green: #54E346;
$pc-blue: #3EDBF0;
$pc-yellow: #FFF338;
$pc-purple: #D62AD0;
$pc-pink: #FB7AFC;
