@import '~/assets/Palette.scss';

div.friendContainer {
  width: 80%;
  background-color: $pg-blue;
  border: 3px solid $pg-blue;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
}

div.friendContainer p{
  margin-top: 16px;
  color: $pg-white;
}

div.friendContainer hr{
  margin: 16px 0;
  border: 1px solid $pg-dark-blue;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 120px;
}

div.friendList{
  max-height: calc(100vh - 260px);
  height: calc(100vh - 260px);
  overflow-y: auto;
  width: 100%;
}

.items {
  cursor: pointer;
}
