@import '~/assets/Palette.scss';
@import '../Spectate/Spectate.scss';

.winningGame {
  border: 2px solid $pg-green;
}

.losingGame {
  border: 2px solid $pg-red;
}

.timer {
  height: 100%;
  justify-content: space-around;
  align-items: flex-end;
}
