.wrapperCanvas {
  width: 100vw;
  height: 52.91vw;
  max-width: 188.97vh;
  max-height: 100vh;
  background-color: red;
  position: absolute;
  margin: auto;
  left:0;right:0; /* horizontal center */
}
