@import '~/assets/Palette.scss';

#gameCanvas {
  width: 100vw;
  height: 52.91vw;
  max-width: 188.97vh;
  max-height: 100vh;
  position: absolute;
  margin: auto;
  left:0;right:0; /* horizontal center */
  top: 0;bottom: 0;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.playerBar {
  width: 160px;
  height: 32px;
  display: inline-block;
}

#powCombo {
  margin-top: 8px;
}

